@import "tailwindcss";

/* input.css */
.btn-headers {
  @apply  text-black py-1 px-3 rounded hover:bg-gray-300 transition;
}

@keyframes brand-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: brand-scroll 18s linear infinite;
}

